
<header>
  <a href="index.html">
    <img alt="oread Logo" class="logo" src="//oread.in/oread_files/oread-logo.svg" width="60" /></a> 
    <label> <input id="search" placeholder="Search" type="text" /> </label>
<nav>
<ul>
	<li><a id="myBtn">Sign In or Register</a></li>
	<li></li>
</ul>
</nav>
<!-- Login Modal -->

<div class="modal" id="myModal"><!-- Modal content -->
<div class="modal-content"><span class="close"><img src="//oread.in/oread_files/close-button.png" width="20" /></span>

<div id="tabs-1">
<ul>
	<li><a href="#sigin">Sign In</a></li>
	<li><a href="#register">Register</a></li>
</ul>
<!-- sign in form-->

<div class="login-tabcontent" id="sigin">
<h2>Sign in to o&#39;read</h2>

<div class="social-option"></div>

<p>or Login with Email</p>

<form action=""><input name="username" placeholder="User Name or Email" required="" type="text" /> <input name="password" placeholder="Password" required="" type="password" /><button type="submit">Sign In</button> <span class="psw"><a href="#">Forgot password?</a></span></form>
<!-- sign in form--></div>

<div class="login-tabcontent" id="register">
<h2>Join o&#39;read</h2>

<p>You need to be signed in to this action. Please create an account.</p>

<div class="social-option"></div>

<p>or Login with Email</p>

<form action=""><input name="fullname" placeholder="Full Name" required="" type="text" /> <input name="email" placeholder="Email" required="" type="text" /> <input name="password" placeholder="Password" required="" type="password" /><button type="submit">Sign In</button> <span class="psw"><a href="#">Forgot password?</a></span></form>
</div>
</div>
</div>
<!-- Modal content --></div>
</header>
<section>
<div class="header-inner">
<div class="layer">
<h1>What you read today! <span style="color: #FF2125;">o&#39;read</span></h1>
</div>
</div>
</section>