<header>
  <a routerLink=""><img src="//oread.in/oread_files/oread-logo.svg" alt="oread Logo" width="60" class="logo"/></a>

  <label>
                      <input id="search" type="text" placeholder="Search" />
                    </label>
  <nav>

    <ul>

      <li><a id="myBtn">Sign In or Register</a></li>
      <li><a href='https://play.google.com/store/apps/details?id=com.knowledgeflow.oread' target="_blank"><i class="fa fa-mobile fa-3x" aria-hidden="true"></i></a></li>

    </ul>

  </nav>
</header>